Package: dev.jyer.tiebavideoadblock
Name: TiebaVideoAdBlock
Depends: mobilesubstrate
Version: 1.1.0
Architecture: iphoneos-arm
Description: Block video advertisement autoplay in BaiduTieba
Maintainer: Jyer
Author: Jyer
Section: Tweaks
